<td-layout-nav title="Finance Management System" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Finance Management System</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Profile">
      <mat-icon>person</mat-icon>
    </a>
    <span>Jaafar Jantan</span>
  </div>


  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <mat-card-title>Bank Code {{(bankCode$|async)?.code}}</mat-card-title>
        <mat-card-subtitle>Bank Code Detail</mat-card-subtitle>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div layout="column" class="inset" flex>
      <div layout="row" class="mat-padding" flex>
        <div layout="column" flex="30">
          <p class="tc-grey-500">Bank Code No :</p>
          <p class="tc-grey-500">Description :</p>
        </div>
        <div layout="column" flex="70">
          <p>{{(bankCode$|async)?.code}}</p>
          <p>{{(bankCode$|async)?.description}}</p>
        </div>
      </div>
    </div>

    <mat-card-actions align="end">
      <button mat-button="" color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
  </td-layout-card-over>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="mat-caption">Copyright &copy; 2017 Terang LLP. All rights reserved</span>
      <span flex></span>
    </div>
  </td-layout-footer>
</td-layout-nav>
